#sobre{
    height: 150px;
}

.section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 150px;
}

.section__title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 19%;
    top: -30px;
    border-radius: 15px;
    background-color: var(--color-bg);
    border: 4px solid var(--color-1);
    padding: 10px;
    z-index: 1;
}

.section__title-img{
    height: 40px;
    width: 40px;
    background: url("./../img/sobre.svg") center/cover, no-repeat;
}

.section__title-text{
    font-size: 2.5rem;
    font-weight: 700;
}

.section__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border: 4px solid var(--color-1);
    border-radius: 15px;
    background-color: var(--color-bg2);
    padding: 50px 40px 20px 40px;
}

.section__div__list{
    width: 30%;
    font-size: 1.2rem;
}

.section__div__list-item:not(:last-child){
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 2rem;
}

.section__div__list-item li:not(:first-child){
    font-weight: 400;
    list-style-type: square;
    margin-left: 50px;
}

.section__div__text{
    width: 60%;
    font-size: 1.3rem;
    text-align: justify;
}

.vertical{
    width: 30%;
    left: 20%;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(90deg);
}

/* -------------- */
.section__title-projetos{
    border: 4px solid var(--color-3);
}

.section__title-img-projetos{
    background: url("./../img/projetos.svg") center/cover, no-repeat;
}

.section__div-projetos{
    border: 4px solid var(--color-3);
    flex-wrap: wrap;
}

.section__div-projetos__projeto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 30%;
    flex-direction: column;
}

.section__div-projetos__projeto__img{
    width: 100%;
    height: 300px;
    border-radius: 5%;
    overflow: hidden;
    transition: .3s all ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    border: 5px solid rgba(0, 0, 0, 0);
    box-shadow: var(--color-txt1) 0px 0px 0px 3px;
}

.section__div-projetos__projeto__img-file{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__div-projetos__projeto__img-file:hover{
    filter: grayscale(100);
}

.section__div-projetos__projeto__img:hover{
    border: 0;
    box-shadow: var(--color-3) 0px 0px 0px 3px;
}

.section__div-projetos__projeto__text{
    font-size: 1.5rem;
    margin: 10px 0px 40px 0px;
}

.section__div-projetos__projeto-card{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    border: 5px solid rgba(0, 0, 0, 0);
    box-shadow: var(--color-txt1) 0px 0px 0px 3px;
}

.section__div-projetos__projeto-card:hover{
    box-shadow: var(--color-3) 0px 0px 0px 3px;
}

.section__div-projetos__projeto-card:hover:after{
    height: 100%;
}

.section__div-projetos__projeto-card:hover .section__div-projetos__projeto-text p{
    margin-bottom: 8px;
    opacity: 1;
}

.section__div-projetos__projeto-card:hover img{
    transform: scale(1.10);
}

.section__div-projetos__projeto-card:hover ul{
    transform: translate(0);
    opacity: 1;
}

.section__div-projetos__projeto-card:after{
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.section__div-projetos__projeto-card img{
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
}

.section__div-projetos__projeto-text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}

.section__div-projetos__projeto-text h3{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.section__div-projetos__projeto-text p{
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.section__div-projetos__projeto-text p button{
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-size: .75rem;
    outline: none;
    color: #fff;
}

.section__div-projetos__projeto-text p button:hover{
    background: #fff;
    color: #000;
}

.section__div-projetos__projeto-card ul{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
    border-radius: 14px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0px;
    opacity: 0;
    transform: translate(-100%);
}

.section__div-projetos__projeto-card:hover ul li{
    background: #fff;
    list-style: none;
    width: 48px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: all .25s ease;
    backface-visibility: hidden;
    z-index: 100;
}

.section__div-projetos__projeto-card:hover ul li:last-child{
    border-radius: 0px 0px 12px 12px;
}

.section__div-projetos__projeto-card:hover ul li:first-child{
    border-radius: 12px 12px 0px 0px;
}

.section__div-projetos__projeto-card ul li:hover{
    opacity: 1;
    transform: scale(1.05);
    border-radius: 6px;
}

.section__div-projetos__projeto-card ul li img{
    width: 60%;
}